body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(codex.png);
    background-size: cover;
}
.wrap{
    width: 420px;
    background-color: transparent;
    border-radius: 30px;
    padding: 50px;
    border: 10px solid  rgba(0,0,0,.2);
}
.wrap h1{
    font-size: 40px;
    text-align: center;
    color: black;
}
.wrap .inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 5px solid rgba(0, 0, 0, .2);
    border-radius: 40px;
    color: black;
    font-size: 20px;
    padding-left: 20px;
}
.wrap .remember{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    margin: -15px 5px 20px;
}
.remember label input{
    margin-right: 10px;
}
.remember a {
    color: black;
    text-decoration: underline;
}
.wrap .button {
    width: 100%;
    height: 30px;
    border-radius: 40px;
    border: 5px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}
.wrap .register{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: black;
}
.register p a {
    color: gold;
    font-size: 20px;
}
